body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.video-card {
  width: 336px;
  font-size: 20px;
  font-weight: bold;
}

.video-card img {
  width: 336px;
}

.wrapper {
  text-align: center;
}

.nav{
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid;
}

.disclaimer {
  padding: 20px;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.topbar {
  background-color: black;
  padding: 5px;
}
.topbar a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.topbar a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}
.main {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: white;
  overflow: auto;
}

.main h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.main h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.main h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.main h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.main h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.front-page {
  height: 95vh;
  background-image: url('bg2.jpg');
}

.front-page h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 250px;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background-color: black;
  padding: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Roboto';
}
.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}
.footer a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navbar */
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
/*background-color: #f1f1f1;*/
background-color: #ffffff;
font-family: 'Roboto', sans-serif;
}

.nav li {
float: left;
}

.nav li a {
display: block;
color: #000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav li a:hover {
background-color: #555;
color: white;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.list li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.list li a:hover {
  background-color: #555;
  color: white;
}

.team {
  width: 100%;
  /*height: 287px;*/ /* might want to change this eventually (was 320) */
  height: 290px; /* might want to change this eventually (was 320) */
  overflow-x: auto;
  white-space: nowrap;
}
/* \/ Team Cards -> About page \/ */
.team-card {
  display: inline-block;
  margin-right: 20px;
  float: left;
  width: 170px;
  background-color: #f1f1f1;
}

.team-card h4 {
  text-align: center;
  color: #333333;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.team-card a:hover h4 {
  color: #111111;
}

.team-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-card ul {
  list-style: none;
}

.team-social ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: inherit;
}

.team-social li {
float: left;
}

.team-social li a {
display: block;
text-align: center;
padding: 4px;
text-decoration: none;
}

.team-social span {
  font-size: 20px;
  color: #333333;
}

.team-social li a:hover span {
color: #111111;
}

.team-social {
  width: 115px; /* works with 4 icons // should change this eventually */
  margin: 0 auto;
  margin-bottom: 9px;
}

.view-profile {
  text-align: center;
  margin-bottom: 9px;
  margin-top: 9px;
}

.view-profile a {
  color: darkgray;
}

.view-profile a:hover {
  color: #203354;
}
/* \\ Team Cards -> About page \\ */

/* // Shirt Cards // */
.shirt-card {
  width: 500px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: thin black solid;
}

.buy-button {
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: initial;
}


.shirt-card img {
  width: 500px;
}

.shirt-card a {
  color: black;
  padding: 20px;
  background-color: lightblue;
  text-decoration: none;
  margin: 20px;
}

.shirt-card a:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form {
  font-family: 'Roboto', sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.page h2 {
  text-align: center;
}

.news-post {
  padding: 10px;
  padding-left: 35px;
  /*border-style: solid;
  border-width: thin;*/
  /*box-shadow: inset 0 0 10px #000000;*/
  border: solid 1px black;
}

/* start split screen */
.leftside, .rightside {
  height: 50vh;
  width: 100%;
}

@@media screen and (min-width:768px) {
  .leftside, .rightside {
    height: 100vh;
  }
}

.leftside {
  background-color: red;
}

.rightside {
  background-color: blue;
}

/*.rightside img {
  width: 400px;
  border-radius: 50%;
}*/
/* end split screen */

/* Social Media Buttons */
.social-buttons {
  width: 100%;
  background-color: inherit;
  text-align: center;
}

.social-buttons ul {
list-style-type: none;
display: inline-block;
margin: 0;
padding: 0;
overflow: hidden;
float: center;
background-color: #203354;
}

.social-buttons li {
float: left;
}

.social-buttons li a {
display: block;
width: 100px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.social-buttons li a:hover {
background-color: #192841;
color: white;
}

.social-buttons li a span {
font-size: 48px;
color: white;
}

.social-buttons li a:hover span {
color: #D3D3D3;
}

.features li a {
  color: rgb(32, 57, 91);
}
