body {
  margin: 0;
  padding: 0;
}
.topbar {
  background-color: black;
  padding: 5px;
}
.topbar a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.topbar a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}
.main {
  margin: 10px;
  padding: 10px;
  min-height: 100vh;
  background-color: white;
  overflow: auto;
}

.main h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.main h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.front-page {
  height: 95vh;
  background-image: url('bg2.jpg');
}

.front-page h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 250px;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  padding-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}
.footer a:hover {
  color: #F2F1EF;
  text-decoration: underline;
}
