.content .title h1 {

}

.content {
  text-align: center;
  background-color: #D3D3D3;
}

.content .ip {
  background-color: black;
  color: #D3D3D3;
  padding: 20px;
  text-align: center;
  width: 200px;
  display: inline-block
}

.content .ip p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.content .ip h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.content h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.content h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.content .features li {
  background-color: #F5F5DC;
  width: 450px;
  padding: 20px;
  margin: 10px;
  list-style-type: none;
  display: inline-block;
  border-style: solid;
}

.content .features h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.content .features p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
