<style>
.center {
margin-left: auto;
margin-right: auto;
}
.center.navbar .nav,
.center.navbar .nav > li {
float:none;
display:inline-block;
*display:inline; /* ie7 fix */
*zoom:1; /* hasLayout ie7 trigger */
vertical-align: top;
}
.center.navbar-inner {
text-align:center;
}
.center .dropdown-menu {
text-align: left;
}
.navbar-inner {
margin: 0 auto;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto center">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/techdeals">Tech Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/network">Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://optical-raze-studios.itch.io/">Studios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.reddit.com/r/opticalraze/">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">Support</a>
      </li>
    </ul>
  </div>
</nav>